#All files specified here will be ignored by git

# Vim swap files
*.swp

# Emacs cache files
*~
\#*\#

# OSX specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
